<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    <link rel="icon" href="<%= baseUrl %>img/icon.png" type="image/png" /><!-- image/x-icon -->
    
    <!-- MDL -->
    <link rel="stylesheet" href="<%= baseUrl %>css/material.min.css">
    <script src="<%= baseUrl %>js/material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="<%= baseUrl %>js/jquery-2.2.2.min.js"></script>
    
    <!-- Site -->
    <link rel="stylesheet" href="<%= baseUrl %>css/main.css">
    
    <!-- App -->
    <meta name="theme-color" content="<%= themeColor %>">
    <meta name="msapplication-navbutton-color" content="<%= themeColor %>">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= themeColor %>">
</head>

<body>