    <script src="<%= baseUrl %>socket.io/socket.io.js"></script>
    <script>
    // ----------------- GLOBAL VARIABLES --------------------
    var socket = io();              // socket.io
        
    // Google APIs
    var auth2;
    var initClient = function() {
    	gapi.load('auth2', function() {
    		auth2 = gapi.auth2.init({
    			client_id: '<%= clientId %>.apps.googleusercontent.com'
    		});
    
    		// Listen for changes to current user.
    		auth2.currentUser.listen(function (user) {
                if (auth2.isSignedIn.get()) {
                    var idToken = user.getAuthResponse().id_token;
                    var email = user.getBasicProfile().getEmail();
                    //console.log(user.getBasicProfile().getId());
                    
                    socket.emit('googleUser', { idToken: idToken, email: email });
                } else {
                    window.location.href = "<%= baseUrl %>signin";
                }
            });
            
            
    	});
    };
    
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=initClient" async defer></script>
    <script src="<%= baseUrl %>js/jquery.mobile.custom.min.js"></script>
    <script src="<%= baseUrl %>js/main.js"></script>
</body>
</html>