<%- include('body_start') %>

<div id="chat-window" class="mdl-layout mdl-js-layout mdl-layout--fixed-header animate">
    <header class="mdl-layout__header">
        <div class="back-button">
            <a href="<%= baseUrl %>">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Title</span>
            <div class="mdl-layout-spacer"></div>
            <button id="chat-options" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
            <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="chat-options">
                <li class="mdl-menu__item">Some Action</li>
                <li class="mdl-menu__item">Another Action</li>
                <li disabled class="mdl-menu__item">Disabled Action</li>
                <li class="mdl-menu__item">Yet Another Action</li>
            </ul>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="msg-from me fullwidth">
                <div class="bg-cover"></div>
                <div class="msg-time">10:27 am</div>
                <div>Some text message</div>
            </div>
            <div class="msg-from other fullwidth">
                <div class="bg-cover"></div>
                <div class="msg-time">10:27 am</div>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
            </div>
            
            <textarea id="input-text" placeholder="Type something here"></textarea>
            
            <!--div id="input-canvas">
                <canvas id="canvas"></canvas>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">send</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">undo</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">delete</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">brush</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">color_lens</i>
                    </button>
                </div>
            </div-->
            
            <!--div id="input-location" class="bg-cover" style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=-27.4995676,152.9889577&zoom=16&size=350x250&sensor=false');">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">send</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">refresh</i>
                </button>
            </div-->
            
            <!--div id="input-image" class="bg-cover" style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=-27.4995676,152.9889577&zoom=16&size=350x250&sensor=false');">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">send</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">file_upload</i>
                </button>
            </div-->
            
            
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored chat-option-button">
                <i class="material-icons">keyboard_arrow_up</i>
            </button>
        </div>
    </main>
</div>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><%= title %></span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--icon" onclick="javascript:signOut();">
                <i class="material-icons">power_settings_new</i>
            </button>
            <button id="menu" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu">
                <li class="mdl-menu__item">Some Action</li>
                <li class="mdl-menu__item">Another Action</li>
                <li disabled class="mdl-menu__item">Disabled Action</li>
                <li class="mdl-menu__item">Yet Another Action</li>
            </ul>
        </div>
        
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#fixed-tab-1" class="mdl-layout__tab is-active">
                <i class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">person</i>
                <!-- mdl-badge mdl-badge--overlap" data-badge="1"-->
            </a>
            <a href="#fixed-tab-2" class="mdl-layout__tab"><i class="material-icons">people</i></a>
            <a href="#fixed-tab-3" class="mdl-layout__tab"><i class="material-icons">contacts</i></a>
            <a href="#fixed-tab-4" class="mdl-layout__tab"><i class="material-icons">settings</i></a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><%= title %></span>
        <div id="profile-image" class="bg-cover" style=""></div>
        <h4 id="profile-name" class="text-center"></h4>
        <span id="profile-email" class="text-center"></span>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
            <div class="page-content">
                
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect action-button mdl-button--colored">
                    <i class="material-icons">chat</i>
                </button>
                
                <ul class="mdl-list">
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>Bryan Cranston</span>
                            <span class="mdl-list__item-sub-title">62 Episodes asd asd asdsad asd</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span class="mdl-list__item-secondary-info">12:54&nbsp;pm</span>
                            <i class="material-icons">check</i><!--a class="mdl-list__item-secondary-action" href="#"></a-->
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>Bryan Cranston</span>
                            <span class="mdl-list__item-sub-title">62 Episodes asd asd asdsad asd</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span class="mdl-list__item-secondary-info">12:54&nbsp;pm</span>
                            <i class="material-icons">check</i><!--a class="mdl-list__item-secondary-action" href="#"></a-->
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>Bryan Cranston</span>
                            <span class="mdl-list__item-sub-title">62 Episodes asd asd asdsad asd</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span class="mdl-list__item-secondary-info">12:54&nbsp;pm</span>
                            <i class="material-icons">check</i><!--a class="mdl-list__item-secondary-action" href="#"></a-->
                        </span>
                    </li>
                </ul>
                
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
            <div class="page-content">
                <div class="mdl-grid">
                    
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons md-36">android</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>Group chat</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">notifications</i>
                                <!-- notifications_off, notifications_active -->
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons md-36">motorcycle</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>Group chat</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">notifications_active</i>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons md-36">cloud</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>12346758912</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">notifications_off</i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
            <div class="page-content">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect action-button mdl-button--colored">
                    <i class="material-icons">person_add</i>
                </button>
                
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-phone">
                        <input type="text" placeholder="Search" id="contact-search-box">
                    </div>
                </div>
                
                <div class="section-label">Favorites</div>
                
                <div class="mdl-grid">    
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>Group chat</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">favorite</i>
                                <!-- favorite_border -->
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>Group chat</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">sentiment_very_satisfied</i>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>12346758912</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">account_circle</i>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="section-label">Contacts</div>
                
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">person</i>
                            Bryan Cranston
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">person</i>
                            Aaron Paul
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">person</i>
                            Bob Odenkirk
                        </span>
                    </li>
                </ul>
                
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-4">
            <div class="page-content">
                <ul class="mdl-list">
                    <div class="section-label">Settings</div>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons">build</i>
                            Bob Odenkirk
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
                                <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
                            </label>
                        </span>
                    </li>
                    
                </ul>
            </div>
        </section>
    </main>
</div>

<script>
var fullScreen = false;
    // Find the right method, call on correct element
function launchIntoFullscreen(element) {
  if(element.requestFullscreen) {
    element.requestFullscreen();
  } else if(element.mozRequestFullScreen) {
    element.mozRequestFullScreen();
  } else if(element.webkitRequestFullscreen) {
    element.webkitRequestFullscreen();
  } else if(element.msRequestFullscreen) {
    element.msRequestFullscreen();
  }
  fullScreen = true;
}
function exitFullscreen() {
  if(document.exitFullscreen) {
    document.exitFullscreen();
  } else if(document.mozCancelFullScreen) {
    document.mozCancelFullScreen();
  } else if(document.webkitExitFullscreen) {
    document.webkitExitFullscreen();
  }
  fullScreen = false;
}
$('#profile-image').click(function() {
    if(fullScreen) exitFullscreen();
    else launchIntoFullscreen(document.documentElement);
});
</script>

<%- include('body_end') %>